<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotr Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CSS/Navbar_logos.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Shoes", "GetAllShoes", "Shoes")</li>
                    <li>@Html.ActionLink("Shirts", "GetAllShirt", "Shirt")</li>
                    <li>@Html.ActionLink("Pants", "GetAllPants", "Pants")</li>
                    <li>@Html.ActionLink("Equipment", "GetAllSportsEquipment", "Equipment")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar_logos">
        <a href="https://www.tech-career.org/" target="_blank"><img class="my_logo1" src="~/Content/Images/Tec-career.jpg" /></a>
        <img class="my_logo" src="~/Content/Images/Indi.png" />
        <img class="my_logo" src="~/Content/Images/My-logo.png" />
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="my_footer">
            <section class="icons_container">
                <div class=""><a href="https://www.linkedin.com/mynetwork/" target="_blank"> <img src="~/Content/Images/Linkedin.png" /></a></div>
                <div class="git-logo"><a href="https://github.com/EliyahuBelay" target="_blank"> <img src="~/Content/Images/Github.png" /></a></div>
            </section>
            <p>&copy; @DateTime.Now.Year - The Best Sport Stock For you</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
