@using SportShop_Project.Models;
<link href="~/Content/CSS/Shirt/Tables.css" rel="stylesheet" type="text/css">

<div class="h1_Shirt_page_container">
    <h1 class="h1_Shirt_page">@ViewBag.TableName</h1>
</div>

<button class="my_btn" onclick="location.href = '@Url.Action( "GetAllShirt","Shirt")'">Back</button>


<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th class="th_Shirt_Table">Type</th>
                <th class="th_Shirt_Table">Gender</th>
                <th class="th_Shirt_Table">Brand</th>
                <th class="th_Shirt_Table">Model</th>
                <th class="th_Shirt_Table">Price</th>
                <th class="th_Shirt_Table">Quentity</th>
                <th class="th_Shirt_Table">Short</th>
                <th class="th_Shirt_Table">Dry Fit</th>
                <th class="th_Shirt_Table">Picture</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cloth item in Model)
            {
                <tr class="row-table">
                    <td>@item.ClothType</td>
                    <td>@item.ClothGender</td>
                    <td>@item.ClothBrand</td>
                    <td>@item.ClothModel</td>
                    <td>@item.ClothPrice</td>
                    <td>@item.ClothQuentity</td>
                    <td>@item.ClothIsShort</td>
                    <td>@item.ClothIsDryFit</td>
                    <td><img class="pic_Table" src="@item.ClothPicture" /></td>
                </tr>
            }
        </tbody>

    </table>
</div>
